.full-width {
    width: 200%;
}

.carousel-caption {
	font-size: 10em;
	font-family: 'Roboto Condensed' , sans-serif;
    position: absolute;
    top: 0%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    height: 100%;
}